<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,500,0,0" />
    <link rel="stylesheet" href="/css/addTenants.css">
    <title>NHÀ TRỌ CỦA TÔI</title>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/image/logo.png" alt="">
                    <h2>i<span class="danger">HOME</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="/">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>Trang chủ</h3>
                </a>
                <a href="/HouseManagement">
                    <span class="material-symbols-sharp">
                        home
                    </span>
                    <h3>Quản lý nhà</h3>
                </a>
                <a href="/RoomManagement">
                    <span class="material-symbols-sharp">
                        bed
                    </span>
                    <h3>Quản lý phòng</h3>
                </a>
                <a href="/TenantsManagement">
                    <span class="material-symbols-sharp">
                        person_outline
                    </span>
                    <h3>Quản lý người thuê</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        gavel
                    </span>
                    <h3>Quản lý hợp đồng</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        room_service
                    </span>
                    <h3>Quản lý dịch vụ</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        electric_bolt
                    </span>
                    <h3>Chỉ số điện</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        invert_colors
                    </span>
                    <h3>Chỉ số nước</h3>
                </a>
                <a href="/ReceiptManagement">
                    <span class="material-symbols-sharp">
                        receipt_long
                    </span>
                    <h3>Hóa đơn</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        dangerous
                    </span>
                    <h3>Báo cáo sự cố</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        devices
                    </span>
                    <h3>Tài sản</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        logout
                    </span>
                    <h3>Đăng xuất</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Quản lý người thuê</h1>
            <div class="date" id="curent-day">
                <input type="date">
            </div>
            <div class="view-form">
                <div class="recent-orders">
                    <h2 class="title">Thêm người thuê mới</h2>
                    <form method="POST" action="/TenantsManagement/addTenants">

                        <div class="selection-view-group">

                            <div class="form-select-house">
                                <label>Tên nhà:</label>
                                <select name="houseID">
                                    <option value="allHouse">Chọn nhà</option>
                                    <% for(var i=0;i<nhatro.length;i++){%>
                                        <option value="<%=nhatro[i].idNhaTro%>">
                                            <%=nhatro[i].TenNhaTro%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>

                            <div class="form-select-room">
                                <label>Tên phòng:</label>
                                <select name="roomID">
                                    <option value="allRoom">Chọn phòng</option>
                                    <% for(var i=0;i<nhatro.length;i++){%>
                                        <option value="<%=nhatro[i].idPhongTro%>">
                                            <%=nhatro[i].TenPhong%>
                                        </option>
                                        <% } %>
                                </select>
                            </div>

                        </div>

                        <label for="Tennguoithue">Họ và tên</label>
                        <input type="text" id="hoten" name="hoten" placeholder="Nhập họ và tên người thuê" required>

                        <label for="Diachi">Quê Quán</label>
                        <input type="text" id="diachi" name="diachi" placeholder="Nhập địa chỉ" required>


                        <div class="selection-view-group">
                            <div class="form-sup-1">
                                <label for="Namsinh">Năm sinh</label>
                                <input type="text" id="namsinh" name="namsinh" placeholder="Nhập năm sinh" required>
                            </div>

                            <div class="form-sup-1 form-sup">
                                <label for="CMND">CMND/CCCD</label>
                                <input type="text" id="cmnd" name="cmnd" placeholder="Nhập CMND/CCCD" required>
                            </div>

                        </div>

                        <div class="selection-view-group">
                            <div class="form-sup-1">
                                <label for="SDT">Số điện thoại</label>
                                <input type="text" id="sdt" name="sdt" placeholder="Nhập số điện thoại" required>
                            </div>

                            <div class="form-sup-1 form-sup">
                                <label for="Gioitinh">Giới tính</label>
                                <input type="text" id="gioitinh" name="gioitinh" placeholder="Nam/Nữ" required>
                            </div>
                        </div>

                        <div class="btn-form">
                            <a href="/TenantsManagement">
                                <div class="btn-return">Quay lại</div>
                            </a>
                            <button type="submit">Tạo </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">
                        menu
                    </span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">
                        light_mode
                    </span>
                    <span class="material-symbols-sharp">
                        dark_mode
                    </span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Xin chào, <b>Phát</b></p>
                        <small class="text-muted">User</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/image/profile-1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="recent-updates">
                <h2>Thông báo</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/image/profile-2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Quang Dũng</b> đã thông báo cho bạn một sự cố!!!</p>
                            <small class="text-muted">2 Phút trước</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/image/profile-3.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Hương Giang</b> đã thông báo cho bạn một sự cố!!!</p>
                            <small class="text-muted">10 Phút trước</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo">
                            <img src="/image/profile-4.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Đắc Trung</b> đã thông báo cho bạn một sự cố!!!</p>
                            <small class="text-muted">14 Phút trước</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-analytics">
                <h2>Phân tích</h2>
                <div class="item online">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            payments
                        </span>
                    </div>
                    <div class="data">
                        <div class="info">
                            <h3>Tổng doanh thu so với năm trước</h3>
                            <small class="text-muted">24 giờ qua</small>
                        </div>
                        <h2 class="success">+39%</h2>

                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            meeting_room
                        </span>
                    </div>
                    <div class="data">
                        <div class="info">
                            <h3>Tổng số lượng phòng thuê so với năm trước</h3>
                            <small class="text-muted">24 giờ qua</small>
                        </div>
                        <h2 class="danger">-10%</h2>
                    </div>
                </div>
                <div class="item customer">
                    <div class="icon">
                        <span class="material-symbols-sharp">
                            person
                        </span>
                    </div>
                    <div class="data">
                        <div class="info">
                            <h3>Khách thuê mới</h3>
                            <small class="text-muted">24 giờ qua</small>
                        </div>
                        <h2 class="success">0%</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dung.js"></script>
</body>

</html>