<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/forgotPassword.css">
    <title>Quản lí nhà trọ</title>
</head>
<body>
    <div class="limiter">
        <div class="container-forgot">
            <div class="wrapper-forgot">
                <div class="forgot-image">
                    <img src="/image/image-forgotPw.png" alt="">
                </div>
                <form action="#" class="form-forgot">
                    <span class="forgot-title">
                        <b>Khôi phục mật khẩu</b>
                    </span>
                    <div class="wrap-forgot">
                        <input class="input-forgot" type="text" placeholder="Email" name="username" id="username" required>
                        <span class="symbol-input">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                    </div>

                   <div class="btn-forgot">
                       <input type="submit" value="Lấy lại mật khẩu">
                   </div>
                    <div class="link-forgot">
                        <a href="/login" class="link-back-login">
                            Trở về đăng nhập
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>