<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Quản lí nhà trọ</title>
</head>

<body>
    <div class="limiter">
        <div class="container-login">
            <div class="wrapper-login">
                <div class="login-image">
                    <h4>HỆ THỐNG QUẢN LÝ NHÀ TRỌ </h4>
                    <img src="/image/image-login.png" alt="">
                </div>
                <form method="POST" action="/login" class="form-login">
                    <span class="login-title">
                        <b>Đăng nhập hệ thống</b>
                    </span>
                    <div>
                        <% if(errors !="" ) { %>
                            <% errors.forEach((item)=> { %>
                                <div class="alert alert-danger">
                                    <%- item %>
                                </div>
                                <% }); %>
                                    <% } %>
                    </div>
                    <div class="wrap-input">
                        <input class="input-login" type="text" id="email" name="email" placeholder="Nhập email...""
                            required>
                        <span class=" symbol-input">
                        <i class="fa-solid fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input">
                        <input class="input-login action-password" type="password" id="password" name="password"
                            placeholder="Nhập mật khẩu" required>
                        <i class="fa-solid fa-eye eye-open"></i>
                        <i class="fa-solid fa-eye-slash eye-close"></i>
                        <span class="symbol-input">
                            <i class="fa-solid fa-key"></i>
                        </span>
                    </div>

                    <div class="link-res">
                        <button type="submit" class="btn-secondary"> ĐĂNG NHẬP</button>
                    </div>
                    <div class="link-login">
                        <a href="/register" class="link-registration" style="color: red;">
                            Bấm vào đây để Đăng ký
                        </a>
                        <a href="/forgotPassword" class="link-forgot">
                            Quên mật khẩu?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/login-reg.js"></script>
</body>

</html>