<!doctype html>
<html lang="en">

<head>
    <title>Quản lí nhà trọ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Register.css">
</head>

<body>
    <div class="limiter">
        <div class="container-res">
            <div class="wrapper-res">
                <div class="res-image">
                    <h4>HỆ THỐNG QUẢN LÝ NHÀ TRỌ </h4>
                    <img src="/image/image-register.jpg" alt="">
                </div>
                <form method="POST" action="/register" class="sign-up">
                    <span class="res-title">
                        <b>Đăng ký hệ thống</b>
                    </span>
                    <div>
                        <% if(errors !="" ) { %>
                            <% errors.forEach((item)=> { %>
                                <div class="alert alert-danger">
                                    <%- item %>
                                </div>
                                <% }); %>
                                    <% } %>
                    </div>
                    <div class="form-group">
                        <label>Tên đăng nhập
                            <span class="h-c-red" style="color: red">(*)</span>
                        </label>
                        <input type="text" class="form-control" name="fullName" id="fullName"
                            placeholder="Nhập tên đăng nhập" required>
                    </div>
                    <div class="form-group">
                        <label>Email
                            <span class="h-c-red" style="color: red">(*)</span>
                        </label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Nhập email"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu
                            <span class="h-c-red" style="color: red">(*)</span>
                        </label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Nhập mật khẩu" required>
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu
                            <span class="h-c-red" style="color: red">(*)</span>
                        </label>
                        <input type="password" class="form-control" name="passwordConfirmation"
                            id="passwordConfirmation" placeholder="Nhập lại mật khẩu" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Checkbox__PolicyAccept"
                            name="accept_policy" required>
                        <label class="form-check-label" for="Checkbox__PolicyAccept">Tôi đã
                            đọc và chấp nhận với <a href="#" target="_blank">Chính
                                sách sử dụng</a> và <a href="#">Điều khoản bảo mật</a></label>
                    </div>
                    <div class="link-res">
                        <button type="submit" class="btn-secondary">ĐĂNG KÝ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>