@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,200&family=Exo:wght@400;500;600&family=Luxurious+Roman&family=Mulish:wght@200&family=Open+Sans:wght@300;400;500&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;500&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
h4{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
.limiter{
    width: 100%;
    height: 100%;
}
.container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #64c5b1;
    border-top-right-radius: 100%;
    background-size: cover;
}
.wrapper-login{
    width: 960px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 100px 50px 100px;
    box-shadow: 1px 1px 10px #00000070;
}
.login-image{
    width: 316px;
}
.login-image img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-login{
    width: 300px;
}
.login-title{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 22px;
    color: black;
    line-height: 1.9;
    text-align: center;
    font-weight: 900;
    width: 100%;
    display: block;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.wrap-input{
    position: relative;
    margin-bottom: 10px;
}
.input-login{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000000;
    display: block;
    width: 100%;
    background: #f5f5f5;
    height: 45px;
    border-radius: 0.375rem;
    padding: 0 30px 0 68px;
    border: 1px solid #d4d4d4;
    outline: none;
}
.input-login::placeholder{
    color: #000000;
}
.symbol-input{
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    height: 100%;
    padding-left: 25px;
    color: black;
}
.symbol-input i{
    font-size: 20px;
}
.wrap-input .eye-open,
.wrap-input .eye-close{
    position: absolute;
    bottom: 15px;
    right: 30px;
    cursor: pointer;
}
.link-res {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-secondary {
  width: 100%;
  padding: 10px 0;
  background-color: #FFD43B;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

.btn-secondary:hover {
  background-color: #1abc9c;
  color: #fff;
}
.link-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}
.link-login .link-registration,
.link-login .link-forgot{
    font-size: 13px;
    color: black;
    font-weight: 600;
}
.link-login .link-forgot{
    text-decoration: underline !important;
}
.link-login .link-forgot:hover{
    color: #e74c3c;
}
