@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Roboto:ital,wght@1,200&family=Exo:wght@400;500;600&family=Luxurious+Roman&family=Mulish:wght@200&family=Open+Sans:wght@300;400;500&family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;500&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,600&family=Space+Grotesk:wght@400;500;700&display=swap");
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --card-boder-radius: 2rem;
  --boder-radius-1: 0.4rem;
  --boder-radius-2: 0.8rem;
  --boder-radius-3: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: var(--color-background);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  -ms-grid-columns: 14rem auto 23rem;
      grid-template-columns: 14rem auto 23rem;
}

.container aside {
  height: 100vh;
}

.container aside .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.4rem;
}

.container aside .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.container aside .top .logo img {
  width: 2rem;
  height: 2rem;
}

.container aside .top .close {
  display: none;
}

.container aside .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

.container aside .sidebar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 3.7rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container aside .sidebar a:hover {
  color: var(--color-primary);
}

.container aside .sidebar a:hover .material-symbols-sharp {
  margin-left: 1rem;
}

.container aside .sidebar a .material-symbols-sharp {
  font-size: 1.6rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container aside .sidebar a h3 {
  font-weight: 500;
}

.container main {
  margin-top: 1.4rem;
}

.container main .date {
  width: 200px;
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--boder-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

.container main .date input {
  background: transparent;
  color: var(--color-dark);
}

.container main .recent-orders {
  margin-top: 2rem;
}

.container main .recent-orders .top-recent {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .recent-orders .top-recent select {
  color: white;
  padding: 10px;
  background-color: #06875c;
  border-radius: 10px;
}

.container main .recent-orders .top-recent a .btn-addhouse {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background: #024d34;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.container main .recent-orders .top-recent a .btn-addhouse:hover {
  background-color: #06875c;
}

.container main .recent-orders h2 {
  margin-bottom: .8rem;
}

.container main .recent-orders .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.container main .recent-orders .view:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container main .recent-orders .view .card-body {
  background-color: var(--color-white);
  border-radius: var(--card-boder-radius);
  padding: var(--card-padding);
  text-align: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container main .recent-orders .view .card-body-left {
  width: 37%;
}

.container main .recent-orders .view .card-body-left .head-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container main .recent-orders .view .card-body-left .head-card .avatar {
  margin-right: 20px;
}

.container main .recent-orders .view .card-body-left .head-card .avatar img {
  width: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.container main .recent-orders .view .card-body-left .head-card .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container main .recent-orders .view .card-body-left .head-card .name nav {
  font-weight: 600;
}

.container main .recent-orders .view .card-body-left .info-user {
  margin-top: 23px;
}

.container main .recent-orders .view .card-body-left .info-user div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .recent-orders .view .card-body-left .info-user div .col2 {
  color: #7d8da1;
}

.container main .recent-orders .view .card-body-left .action {
  margin-top: 50px;
  text-align: start;
  padding: 0 10px;
}

.container main .recent-orders .view .card-body-left .action a {
  width: 100%;
}

.container main .recent-orders .view .card-body-left .action a nav {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container main .recent-orders .view .card-body-left .action a:hover nav {
  color: #3699FF;
  border-radius: 5px;
  background-color: #a8abae75;
}

.container main .recent-orders .view .card-body-right {
  width: 100%;
}

.container main .recent-orders .view .card-body-right .header-carbody-right {
  border-bottom: 1px solid black;
}

.container main .recent-orders .view .card-body-right .header-carbody-right nav {
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding: 10px 20px;
}

main .view-form .recent-orders form .selection-view-group .form-select-room {
  margin-left: 60px;
}

main .view-form .recent-orders form input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #cbcccf;
  border-radius: 5px;
  outline: none;
  margin: 10px 0 30px 0;
}

.container main .view-form .recent-orders form .selection-view-group{
  display: flex;
  margin-bottom: 20px;
}

.container main .view-form .recent-orders form .selection-view-group .form-sup-1{
  width: 50%;
}

.container main .view-form .recent-orders form .selection-view-group .form-sup{
  margin-left: 60px;
}

.container main .recent-orders .view .card-body-right .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main .recent-orders .view .card-body-right .button button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #7380ec;
  font-weight: 600;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container main .recent-orders .view .card-body-right .button button:hover {
  background-color: #3e4fe8;
  color: white;
}

.container main .recent-orders .view .button button {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #06875c;
  color: white;
  font-weight: 600;
}

.container main .recent-orders .view .button button:hover {
  background-color: #024d34;
}

.container .right {
  margin-top: 1.4rem;
}

.container .right .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 2rem;
}

.container .right .top #menu-btn {
  display: none;
  color: var(--color-dark);
}

.container .right .top .theme-toggler {
  background-color: var(--color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--boder-radius-1);
}

.container .right .top .theme-toggler .material-symbols-sharp {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .right .top .theme-toggler .material-symbols-sharp .active {
  background: var(--color-primary);
  color: #fff;
  border-radius: var(--boder-radius-1);
}

.container .right .top .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  text-align: right;
}

.container .right .top .profile .info .text-muted {
  font-size: 1rem;
  color: var(--color-info-dark);
}

.container .right .top .profile .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.container .right .top .profile .profile-photo img {
  display: block;
  width: 100%;
}

.container .right .recent-updates {
  margin-top: 1rem;
}

.container .right .recent-updates h2 {
  margin-bottom: .8rem;
}

.container .right .recent-updates .updates {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-boder-radius);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container .right .recent-updates .updates:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container .right .recent-updates .updates .update {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.6rem auto;
      grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container .right .recent-updates .updates .update .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.container .right .sales-analytics {
  margin-top: 2rem;
}

.container .right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.container .right .sales-analytics .online .icon {
  padding: 0.6rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .right .sales-analytics .offline .icon {
  background-color: var(--color-danger);
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .right .sales-analytics .online h2 {
  color: var(--color-success);
}

.container .right .sales-analytics .offline h2 {
  color: var(--color-danger);
}

.container .right .sales-analytics .customer h2 {
  color: var(--color-success);
}

.container .right .sales-analytics .customer .icon {
  background-color: var(--color-success);
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .right .sales-analytics .item {
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--boder-radius-3);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.container .right .sales-analytics .item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .right .sales-analytics .item .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  width: 100%;
}
/*# sourceMappingURL=tenantsview.css.map */